.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.body {
  align-items: center;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #af9ab2;
  color: rgb(251, 254, 249);
}

.nav {
  color: #672A4E;
  text-decoration: none;
}

.sideNav {
  flex-basis: 10rem;
  flex-grow: 1;
  background: #C7EDE4;
  border-style: outset;
}
.box {
  align-items: center;
  justify-content: space-evenly;
  background-color: #D5FFF3;
}

.qCard {
  justify-content: space-around;
  align-items: center;
  border-style: outset;
  background-color: #d5fff3;
  color: rgb(57, 57, 58);
}

.qCardButton {
  background-color: #AF9AB2;
  color: rgb(8, 33, 87);
  font-size: 18px;
  margin: 5px;
  border: 2px solid rgb(25, 25, 35);
  border-radius: 4px;
}

.ansCardButton {
  background-color: #AF9AB2;
  color: #AF9AB2;
  font-size: 14px;
  margin: 5px;
  border: 2px solid rgb(25, 25, 35);
  border-radius: 4px;
}

.qCard a {
  color: rgb(8, 33, 87);
  text-decoration: none;
  font-size: 18px;
  width: 90%;
}

.ansCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: inset;
  width: 90%;
  color: #AF9AB2;
}

.askButton {
  background-color: #820B8A;
  font-size: 24px;
  border-radius: 4px;
  width: 100%;
  color:#AF9AB2
}

.askButton a {
  color: rgb(25, 25, 35);
  text-decoration: none;
}

.askButton a:hover {
  background-color: rgb(242, 172, 107);
  font-size: 24px;
  border-radius: 4px;
  width: 100%;
}
.acceptedAnswer {
  justify-content: space-around;
  align-items: center;
  border-style: inset;
  background: rgb(133, 255, 199);
}

.regAnswer {
  justify-content: space-around;
  align-items: center;
  border-style: inset;
  background: rgb(230, 230, 230);
}

.italics {
  font-size: smaller;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 0 -5px;
  padding-bottom: 10px;
}

.detailHeader {
  display: flex;
  justify-content: space-evenly;
}

.label {
  color: #672A4E
}

.searchbox {
  color: #672A4E
}