.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.body {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(25, 25, 35);
  color: rgb(251, 254, 249);
}

.nav a {
  color: rgb(251, 254, 249);
  text-decoration: none;
}

.sideNav {
  flex-basis: 10rem;
  flex-grow: 1;
  background: rgb(14, 121, 178);
}

.qCard {
  justify-content: space-around;
  align-items: center;
  border-style: outset;
  color: rgb(57, 57, 58);
}

.qCard a {
  color: rgb(8, 33, 87);
  text-decoration: none;
  font-size: 22px;
}

.askButton {
  background-color: rgb(243, 146, 55);
  font-size: 24px;
  border-radius: 4px;
  width: 100%;
}

.askButton a {
  color: rgb(25, 25, 35);
  text-decoration: none;
}

.askButton a:hover {
  background-color: rgb(242, 172, 107);
  font-size: 24px;
  border-radius: 4px;
  width: 100%;
}
.acceptedAnswer {
  justify-content: space-around;
  align-items: center;
  border-style: inset;
  background: rgb(133, 255, 199);
}

.regAnswer {
  justify-content: space-around;
  align-items: center;
  border-style: inset;
  background: rgb(230, 230, 230);
}
